.game_mistakes {
    display: flex;
    justify-content: flex-end;
}
.wrong {
    width: 35px;
    height: 49px;
    margin-right: 20px;
    background: url('./img/icon-note-inactive2.png');
    background-repeat: no-repeat;
}
.wrong-active {
    width: 35px;
    height: 49px;
    margin-right: 20px;
    background: url('./img/icon-note-wrong.png');
    background-repeat: no-repeat;
}